

.btn{
	&:link,&:visited{
		text-transform: uppercase;
		text-decoration: none;
		padding:15px 40px;
		display: inline-block;
		border-radius: 100px;
		transition: all .2s;
		position: relative;
	}
	&--white{
		background-color: #6d2a52;
		color:$color-green-dark;
}
&:hover{
	/*transform: :translateY(3px);*/
	box-shadow: 0,10px,20px,rgba($color-black,0.2);
}
&:active{
	transform: translateY(-1px);
	box-shadow: 0,5px,1px,rgba($color-black,0.8);
}
&::after{
	content:"";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 1s;
}

&--white::after{
background-color: $color-white;
}

&:hover::after{
	transform: scale(2);
	opacity: 0;
}

&--animated{
	animation:moveInDown .5s ease-out,.75s;
	animation-fill-mode: backwards;
}

}

